/* start Symphony-esque look for editor */

.editor-toolbar {
	margin-top: 2px;
	font-size: 13px;
	padding: 2px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	opacity: 1 !important;
	z-index: 5;
	background-color: #f5f5f5;
	border-top-left-radius: .4rem;
	border-top-right-radius: .4rem;
}

.editor-toolbar:before, .editor-toolbar:after {
	display: none;
}

.editor-preview {
	z-index: 4;
}

.editor-toolbar a {
  color: #222 !important;
  opacity: 0.5;
}
.editor-toolbar a:hover, .editor-toolbar a.active {
	background-color: #fff;
  opacity: 1;
  border-radius: 2px;
}
.editor-toolbar a.icon-fullscreen {
	display: none;
}

.CodeMirror {
	box-sizing: border-box;
	padding: 10px;
	background-color: #f5f5f5;
	width: 100%;
	font-size: 109.09%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-width: 0 1px 1px 1px;
	height: auto;
	min-height: 5em;
}
.CodeMirror-lines,
.CodeMirror pre {
  padding: 0;
}

.invalid .CodeMirror {
	color: #d42;
}

.editor-statusbar {
	font-size: 1em;
	padding: 2px 0;
	border-top: 0;
}

.editor-preview {
	box-sizing: border-box;
	padding: 10px;
	background-color: #fff;
}

.editor-preview p {
	margin-bottom: 1.4em; /* matches editor */
}

.editor-preview img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* end Symphony-esque look for editor */
